<%- include('./header.ejs') %> 

<section class="section4 mt-5">
    <div><h1>Do Contact!</h1></div>

    <form action="/contactInsert" method="post">
        <div class="type">
            <input type="text" name="name" placeholder="Name"><br><br>
            <input type="email" name="email" placeholder="E-mail"><br><br>
            <input type="number" name="phone" placeholder="Phone"><br><br>
            <textarea cols="10" rows="2" name="message" placeholder="Message"></textarea><br><br>
        </div>
    
        <div><button type="submit" >Send Message</button></div>
    
    </form>
     
 </section><!--section 4 end-->

<%- include('./footer.ejs') %> 