
<!-- <footer>
    <div>
        <h1>Thank you for reading!</h1>
        <p>if you enjoyed this post, please feel free to share it.</p>
    </div>

    <div class="icon">
        <div class="s"><i class="fa-brands fa-square-facebook"></i></div>
        <div class="s"><i class="fa-brands fa-twitter"></i></div>
        <div class="s"><i class="fa-brands fa-instagram"></i></div>
        <div class="s"><i class="fa-solid fa-envelope"></i></div>
        
    </div>
    
</footer> -->

<footer style="background-color: #ffffff;">
    <div class="container-fluid">
        <div class="container mt-4">
            <div class="row my-5 py-5">
                <div class="col-md-4 px-2">
                    <div class="d-flex">
                        <i class="fa-brands fa-twitter bg-green rounded-circle p-4"></i>
                        <div class="text-start ps-2">
                            <h2 class="h2 ">SECURE PAYMENT</h2>
                            <P class="text-dark">All our payments our SSL secured</P>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 px-2">
                    <div class="d-flex">
                        <i class="fa-brands fa-twitter bg-green rounded-circle p-4"></i>
                        <div class="text-start">
                            <h2 class="h2">DELIVERED WITH CARE</h2>
                            <P class="text-dark">Super fast shipping to your door</P>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 px-2">
                    <div class="d-flex">
                        <i class="fa-brands fa-twitter bg-green rounded-circle p-4"></i>
                        <div class="text-start">
                            <h2 class="h2">EXCELLENT SERVICE</h2>
                            <P class="text-dark">Live chat and phone support</P>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
            <p class="text-dark text-center mt-4">Copyright © Designed by: <a href="https://www.linkedin.com/in/sonam-sahu-7b8129208">Sonam</a>All right reserved.</p>
        </div>
</footer>


   
    
</section>

</body>
</html>