
<footer>
    <div>
        <h1>Thank you for reading!</h1>
        <p>if you enjoyed this post, please feel free to share it.</p>
    </div>

    <div class="icon">
        <div class="s"><i class="fa-brands fa-square-facebook"></i></div>
        <div class="s"><i class="fa-brands fa-twitter"></i></div>
        <div class="s"><i class="fa-brands fa-instagram"></i></div>
        <div class="s"><i class="fa-solid fa-envelope"></i></div>
        
    </div>
    
</footer>

<section class="last">
    <p>Copyright © Designed by: <a href="https://www.linkedin.com/in/sonam-sahu-7b8129208">Sonam</a>All right reserved.</p>
    
</section>

</body>
</html>