<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Personal Blog</title>

    <!--fevicon icon link-->
    <link rel="icon" href="/image/icon.png" />

    <script src="https://cdn.tailwindcss.com"></script>


    <!--bootstrap link and script-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>


    <!--css link-->

    <link rel="stylesheet" href="/css/style.css" />

    <!--fint awesome icon link-->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    />
    
  </head>
  <body>
    
    <nav>
      <div class="navbar  navbar-expand-md fixed-top" style="background: #d1e9ed !important; ">
        <div class="container-fluid">
            <a href="" class="navbar-brand ">
                <img src="/image/EARTH-STORE-200x35.png" class="web-logo ps-5" >
            </a>
    
            <!-- mobile view -->
    
            <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#aa">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <!-- mobile view end -->
    
            <!-- menu start -->
            <div class="navbar-collapse collapse justify-content-end" id=aa>
                <ul class="navbar-nav ">
                  <li><a href="/">Home</a></li>
                  <li><a href="/about">About</a></li>
                  <li><a href="/contact">Contact</a></li>
                  <li><a href="/blog">Blog</a></li>       
                  <div class="dropdown">
                    <button class="btn btn-dark bg-green border-0 dropdown-toggle" type="button"  data-bs-toggle="dropdown" aria-expanded="false" >Login</button>
                    <ul class="dropdown-menu text-white bg-green text-dark" >
                      <li><a  class="dropdown-item" href="/login">Login</a></li>
                      <li><a class="dropdown-item" href="/profile">Profile</a></li>
                      <li><a class="dropdown-item" href="/logout">Logout</a></li>
                    </ul>
                  </div>&nbsp;&nbsp;&nbsp;&nbsp;
               </ul>
               
            </div>
            <!-- menu end -->
        </div><!--container-fluid end-->
       </div> <!-- nav bar div end -->
    </nav>

  </body>
</html>
